.video_div {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 50%;
}
.video {
    margin: auto;
    width: 100%;
}
.seat {
    position: fixed;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
	width: 300px;
}